html, body, main.page-body {
    background-image: url('https://images.unsplash.com/photo-1520034475321-cbe63696469a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

html, body, header.page-header, footer.page-footer, main.page-body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.wrap { flex-wrap: wrap; }

/* NOTES STYLING */

.note-container {
    background-color: #a32a41;
    border-radius: 20px;
    width: 1100px;
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 2px solid #ffffff;
    padding: 30px 30px 30px 30px;
}

.note-container h1 {
    font-size: 50px;
    color: #ffffff;
}

.note-container h2 {
    font-size: 35px;
    color: #ffffff;
}

.note-container p {
    font-size: 20px;
    color: #ffffff;
}

.note-container h1, .note-container h2, .note-container p {
    text-align: center;
}

#comment-from-cia-note-container, #longer-comment-from-cia-note-container {
    background-color: #000000;
    border-radius: 20px;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 200px;
    border: 2px solid #ffffff;
}

#comment-from-cia-note-container {
    width: 700px;
    height: 150px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
}

#longer-comment-from-cia-note-container {
    width: 800px;
    height: 200px;
    margin-bottom: 20px;
}

#comment-from-cia-note-container p, #longer-comment-from-cia-note-container p {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#smaller-text-inside-comment p {
    font-size: 20px;
}

/* END NOTES STYLING */

/*IMAGES PODITION*/

.specifc-file-intro {
    background-color: #ffffff;
    width: 1000px;
    margin-left: 220px;
    border-radius: 15px;
    border: 2px solid #a32a41;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.specifc-file-option-one, .specifc-file-option-two, .specifc-file-option-three, .specifc-file-option-four, .specifc-file-option-five, .specifc-file-option-six {
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
}

.specifc-file-option-six {
    margin-bottom: 250px;
}

#specifc-file-image img {
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.specifc-file-text {
    background-color: #a32a41;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

#specifc-file-header h1 {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

#specific-file-info {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
}

.header-of-specific-page h1 {
    font-size: 80px;
    color: #ffffff;
    margin-left: 280px;
}

.header-of-specific-page {
    margin-bottom: 100px;
    margin-top: 50px;
}

/*END IMAGES PODITION*/
